a {
  color: #885df1;
}

body {
  background-color: #f9f7fe;
  font-family: Helvetica, Arial, sans-serif;
}

header {
  margin-bottom: 30px;
}

h1 {
  color: #272044;
  font-weight: 900;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

form {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(54, 50, 100, 0.08);
  display: flex;
}

footer {
  font-size: 13px;
  margin-top: 30px;
  text-align: center;
}

main {
  margin-bottom: 30px;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

.instructions {
  color: #272044;
  border: 1px solid rgb(39, 33, 66, 0.5);
  border-radius: 50px;
  font-size: 16px;
  line-height: 20px;
  padding: 16px;
  width: 80%;
}

.poem {
  background-color: #fff;
  border-left: 3px solid #885df1;
  box-shadow: 0 20px 60px rgba(54, 50, 100, 0.03);
  font-size: 16px;
  line-height: 2;
  margin-top: 30px;
  padding: 20px;
}

.poem strong {
  color: rgb(203, 20, 124);
}
.submit-button {
  color: white;
  background-color: #885df1;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 10px;
  padding: 14px 24px;
  width: 150px;
}
