a {
  color: #bc549f;
}

body {
  position: relative;
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./images/backgroung.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4; /* Ajuste a opacidade conforme necessário (0.0 a 1.0) */
  z-index: -1; /* Coloca o pseudo-elemento atrás do conteúdo do body */
}

header {
  margin-bottom: 30px;
}

h1 {
  color: #272044;
  font-family: "Cookie", cursive;
  font-size: 58px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

form {
  display: flex;
}

footer {
  font-size: 13px;
  margin-top: 30px;
  text-align: center;
}

main {
  margin-bottom: 30px;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

.hint {
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  opacity: 0.6;
}

.instructions {
  color: #221e1d;
  border: 1px solid rgba(165, 169, 174, 0.8);
  border-radius: 50px;
  font-size: 16px;
  line-height: 20px;
  padding: 16px;
  width: 80%;
}

.instructions:focus {
  outline-color: #ae9c93;
}

.form-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 20px 60px rgba(54, 50, 100, 0.08);
  margin-bottom: 30px;
  padding: 14px 20px;
}

.hidden {
  display: none;
}

.poem {
  background-color: #fff;
  border-left: 3px solid #b7b1ae;
  box-shadow: 0 20px 60px rgba(54, 50, 100, 0.03);
  font-size: 16px;
  line-height: 2;
  margin-top: 30px;
  padding: 20px;
}

.poem strong {
  color: rgb(203, 20, 124);
}

.submit-button {
  color: white;
  background-color: #a5a9ae;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  margin-left: 10px;
  padding: 14px 24px;
  width: 150px;
}

.generating {
  animation: blink-animation 1s steps(5, start) infinite;
}

@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
